In [1]:
import pandas as pd

from snsynth.aim import AIMSynthesizer

/Users/lucasrosenblatt/opt/miniconda3/envs/test_stacy/lib/python3.10/site-packages/mbi/__init__.py:15: UserWarning: MixtureInference disabled, please install jax and jaxlib
  warnings.warn('MixtureInference disabled, please install jax and jaxlib')

In [4]:

example_df = pd.read_csv('../datasets/iris.csv',index_col=0).astype(int)
aim = AIMSynthesizer()
aim.fit(example_df)
aim.fit(example_df)
sample_size = len(example_df)
synth_data = aim.sample(sample_size)

4
Initial Sigma 48.73023275310213
Selected ('col1', 'col2') Size 15 Budget Used 0.071875
(!!!!!!!!!!!!!!!!!!!!!!) Reducing sigma 24.365116376551065
Selected ('col3',) Size 3 Budget Used 0.134375
(!!!!!!!!!!!!!!!!!!!!!!) Reducing sigma 12.182558188275532
Selected ('col2',) Size 5 Budget Used 0.384375
(!!!!!!!!!!!!!!!!!!!!!!) Reducing sigma 6.091279094137766
Selected ('col0', 'col1') Size 12 Budget Used 1.0000000000000002
4
Initial Sigma 48.73023275310213
Selected ('col3',) Size 3 Budget Used 0.071875
(!!!!!!!!!!!!!!!!!!!!!!) Reducing sigma 24.365116376551065
Selected ('col3',) Size 3 Budget Used 0.134375
Selected ('col0', 'col3') Size 12 Budget Used 0.196875
(!!!!!!!!!!!!!!!!!!!!!!) Reducing sigma 12.182558188275532
Selected ('col1', 'col3') Size 9 Budget Used 0.446875
(!!!!!!!!!!!!!!!!!!!!!!) Reducing sigma 6.091279094137766
Selected ('col1', 'col2') Size 15 Budget Used 1.0000000000000002

In [5]:
example_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.386667,2.646667,3.306667,0.860000
std,0.841752,0.532648,1.772068,0.714472
min,4.000000,2.000000,1.000000,0.000000
25%,5.000000,2.000000,1.000000,0.000000
50%,5.000000,3.000000,4.000000,1.000000
75%,6.000000,3.000000,5.000000,1.000000
max,7.000000,4.000000,6.000000,2.000000

In [7]:
synth_data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.780000,0.566667,1.206667,0.753333
std,0.489761,0.497196,1.396528,0.504166
min,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,1.000000
75%,1.000000,1.000000,2.000000,1.000000
max,2.000000,1.000000,4.000000,2.000000